*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -moz-window-dragging: none;
    font-family:'lato',sans-serif;
}
:root{
    --primary-color: #1C1C1C;
    --primary-backcolor: #F8F8F8;
    
    --button-shadow: rgba(0,0,0,0.3);
    --primary-maincolor: #0DC3EF;
    
    --header-backColor: #F6F6F6;
}
.dark-mode{
    --primary-color: #EAEAEA;
    --primary-backcolor: #000000;
    --header-backColor: #000000;
}

.im{
    width: 100px;
}

html{
    scroll-behavior: smooth;
}
/*************** Start *****************/
body{
    color: var(--primary-color);
    background: var(--primary-backcolor);
    transition: all 0.4s!important;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    z-index: 50;
    background: var(--header-backColor);
    transition: all 0.4s!important;
}
.h-left .mylogo{
    width: 35px;
    padding-top: 3px;
    padding-left: 5px;
    filter: brightness(0.9);
}

.h-right a{
    margin-right: 10px;
    float: left;
    text-decoration: none;
    color: var(--primary-color);
    padding-bottom: 2px;
    padding: 7px;
    position: relative;
    font-size: 0.9em;
    font-weight: 400;
}
.h-right a:before{
    content: "";
    width: 0px;
    height: 2px;
    background: var(--primary-maincolor);
    position: absolute;
    bottom: 0;
    left: 3px;
    max-width: 60px;
    transition: 0.3s linear;
}
.h-right a:hover::before{
    width: 100%;
}
header .toggle{
    position: absolute;
    top: 37px;
    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: v ar(--primary-color);
    box-shadow: 0 2px 2px var(--button-shadow);
    padding: 5px;
}
.night-m{
    width: 30px;
}

/**** Main *****/
.main{
    padding-top: 50px;
}
.Home-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.Home-content .home-left{
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.home-left .myphoto{
    width: 380px!important;
    transition: all 0.2s;
    position: absolute;
    top: -10px;
}
.home-left .myphoto:hover{
    transform: rotate(1deg);
    width: 360px!important;
}
.home-left .myphoto-back{
   width: 400px; 
}
.Home-content .home-right{
    padding-top: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 50px;
}
.home-right .intro{
    width: 430px;
   /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;*/
    padding: 3px;
}
.home-right .intro h1{
    width: 100%;
    font-size: 2em;
}
.home-right .intro h5{
    font-size: 1em;
}
.intro p{
    font-size: 1rem;
    width: 100%;
    padding-top: 10px;
}

.social-media a img{
    width: 60px;
    transition: all 0.4s;
}
.social-media a img:hover{
    width: 70px;
    transform: rotate(5deg);
}

.Button .hire-me-btn{
    width: 250px;
    height: 35px;
    background: var(--primary-maincolor);
    color: var(--primary-color);
    outline: none;
    cursor: none;
    border: none;
    border-radius: 2px;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0 1px 2px var(--button-shadow);
    transition: all 0.4s;
    margin-top: 10px;
    
}
.Button .hire-me-btn:hover{
    filter: brightness(0.8);
}

/***** Home close *********/


.project-content{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.project-content h1{
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    background: var(--primary-maincolor);
    margin-bottom: 50px;
}
.first-project{
    width: 240px;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 1px 2px var(--button-shadow);
    position: relative;
    
}
.first-project:before{
    content: "";
    width: 240px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--primary-maincolor);
    z-index: -1;
    max-height: 310px;
    transition: 0.2s linear;
    border-radius: 10px;
}
.first-project:hover::before{
    height: 310px;
}
.first-project .f-pic{
    width: 100%;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 1px 1px var(--button-shadow);
}
.first-project p{
    width: 100%;
    padding: 5px 1px;
}
.first-project .see-more{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px var(--button-shadow);
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    background: var(--primary-backcolor);
    transition: all 0.3s;
    
}
.first-project .see-more:hover{
    background: #0591E7;
}

/****** PROJECT CLOSE ********/

.contact-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 150px;
    background: var(--primary-maincolor);
}
.contact-content .c-title{
    width: 100%;
    background: var(--primary-maincolor);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.contact-content .contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image .contact-icon{
    width: 150px;
}
.image-data .con a{
    padding: 5px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: rgba(24, 219, 83, 1);
}
.img-data .con{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
.img-data .con a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #09EC4D;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2),
                inset 0 0 1px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    color: var(--primary-color);
    transition: all 0.4s;
}
.img-data .con a:hover{
    width: 320px;
}
.cont{
    width: 40px;
}
.whatsapp{
    width: 90px;
    margin-left: -10px;
}

/****** End *********/
